.navbar {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.7rem 1rem;
    margin: 0 auto;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0d6efd;
    transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
    color: #0056b3;
}

.nav-link {
    font-size: 1rem;
    color: #333;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #007bff;
    background-color: #e9ecef;
    border-radius: 5px;
}

.nav-item .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-item .btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}
